.container {
  padding: 1.5em 0em;
  max-width: 1200px;
  margin: 0 auto;

}

.wrapper {
  background-color: var(--Bagel-Rescue-Background-Grey);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  color: var(--Bagel-Rescue-Dark-Blue);
}
.headerText {
  font-size: 2.25em;
  font-weight: bold;
}

.newLocationButton {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.searchAndSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filterControls {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--Bagel-Rescue-Dark-Blue);
}

.sortSelect {
  position: relative;
  background-color: var(--background-rgb);
  appearance: none;
  background-image: url('/dropdown_arrow.svg');
  background-repeat: no-repeat;
  background-position: 90% center;
  border: 1px solid #0F7AFF;
  border-radius: 8px;
  height: 44px;
  width: auto;
  min-width: 167px;
  padding: 0 44px 0 16px;
}

.sortSelect select {
  width: 100%;
  border: none;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  direction: ltr; 
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.sortSelect::after {
  
  font-size: 12px;
  position: absolute;
  top: 52%;
  right: 20px; 
  transform: translateY(-50%);
  color: #000;
  pointer-events: none;
}


.filterButton {
  background-color: var(--background-rgb);
  border: 1px solid #0F7AFF;
  padding: 10px 15px;
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
}

.tableContainer {
  margin-top: 20px;
  height: 72vh;
  overflow-y: auto;
}

.tableHeader {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr 3fr 0.5fr;
  background-color: #C6E3FF;
  border-radius: 8px;
  padding: 16px;
  font-weight: bold;
  color: var(--Bagel-Rescue-Dark-Blue);
  margin-bottom: 10px;
  padding-left: 20px;
}

.columnHeader {
  padding: 5px 10px;
}

.locationList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.locationCard {
  background-color: var(--background-rgb);
  border: 1px solid #ddd;
  border-radius: 16px;
  border-color: #C6E3FF;
  padding: 10px;
  color: var(--Bagel-Rescue-Dark-Blue);
}

.locationDetails {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr 3fr 0.5fr;
  gap: 16px;
  align-items: center;
}

.locationInfo {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
}
.locationEllipsis {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.pickUp {
  background-color: #A4F4B6;
  color: var(--Bagel-Rescue-Dark-Blue);
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
}

.dropOff {
  background-color: #F4C6A4;
  color: var(--Bagel-Rescue-Dark-Blue);
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
}


.searchInputContainer {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 300px;
  padding: 10px 15px; 
  border: 1px solid #0F7AFF;
  border-radius: 69px;
  overflow: hidden;
  background-color: #fff;
}

.searchIcon {
  color: #0F7AFF;
  font-size: 20px;
  width: 20px; 
  height: 20px; 
}

.searchInput {
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 10px;
  flex-grow: 1; 
}
.separator {
  border-top: 1px solid var(--Bagel-Rescue-Light-Grey);
}

.threeDotButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--Bagel-Rescue-Light-Text);
  transition: color 0.2s;
}

.threeDotButton:hover {
  color: var(--Bagel-Rescue-Dark-Blue);
}