.container {
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
  }
  
  .mainContent {
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
    flex-wrap: wrap;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  .header {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 0.5rem;
    margin-top: .7rem;
  }
  
  .backButton {
    background: none;
    border: none;
    font-size: 1rem;
    color: #64748B; 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px; 
  }

  .arrow {
    font-size: 1rem;
  }
  
  .pageTitle {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800; 
    color: #072B68;
  }

  .backDrop{
    background-color: #ECF2F9;
    padding: 2rem;
    height: 100%;
    overflow: hidden; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .popupBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup {
    background-color: white;
    padding: 2rem;
    border-radius: 6px;
  }

  .question {
    font-weight: bold;
    font-size: 18px;
  }

  .unsaved {
    margin-bottom: 2rem;
    font-size: 12px;
  }

  .popupButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .loseChanges {
    color: #016ff3;
    font-size: small;
  }

  .continueEdit {
    background-color: #016ff3;
    color: white;
    font-size: small;
    padding: 0.5rem;
    border-radius: 3px;
  }