.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.newLocationButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.searchAndSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #0F7AFF;
  border-radius: 69px;
  padding-left: 20px;
}

.filterControls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sortSelect {
  padding: 10px;
  border: 1px solid #0F7AFF;
  border-radius: 69px;
}

.filterButton {
  background-color: #C6E3F9;
  border: 1px solid #0F7AFF;
  padding: 10px 15px;
  border-radius: 69px;
  cursor: pointer;
}

.tableContainer {
  margin-top: 20px;
}

.tableHeader {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr 3fr 0.5fr;
  background-color: #C6E3FF;
  border-radius: 8px;
  padding: 16px;
  font-weight: bold;
  color: #072B68;
  margin-bottom: 10px;
  padding-left: 20px;
}

.columnHeader {
  padding: 5px 10px;
}

.locationList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.locationCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 16px;
  border-color: #C6E3FF;
  padding: 10px;
  color: #072B68;
}

.locationDetails {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr 3fr 0.5fr;
  gap: 16px;
  align-items: center;
}

.locationInfo {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  
}

.pickUp {
  background-color: #A4F4B6;
  color: #072B68;
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
}

.dropOff {
  background-color: #F4C6A4;
  color: #072B68;
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
}

.moreOptionsButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}