.container {
  padding: 1.5em 4em;
}

.back-btn {
  color: var(--Bagel-Rescue-Blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 0em;
}

.header-text {
  font-size: 2.25em;
  font-weight: bold;
}

.complete-route-btn {
  border-radius: 16px;
  background: gray;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 1em;
}

.separator {
  border-top: 1px solid var(--Bagel-Rescue-Light-Blue);
}

.route-creation-form {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
  gap: 3em;
}

.route-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.field-title {
  font-size: 1.25em;
  font-weight: bold;
}

.field-input {
  padding: 1em;
  border-radius: 12px;
  border: 1px solid var(--Bagel-Rescue-Blue);
  width: 100%;
}

.locations {
  width: 60%;
}

.locations-box {
  border-radius: 12px;
  border: 1px solid var(--Bagel-Rescue-Blue);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.location-input {
  width: 100%;
  position: relative;
}

.x-btn {
  color: red;
}

.exit-add-location-btn {
  position: absolute;
  top: 1.1em;
  right: 1em;
}

.location-cards-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-height: 300px;
  overflow-y: auto;
}

.location-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid var(--Bagel-Rescue-Blue);
}

.location-card-section {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.location-number {
  border-radius: 50%;
  background: var(--Bagel-Rescue-Light-Blue);
  width: 2.25em;
  height: 2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-name {
  color: #00377a;
  font-size: 1em;
  font-weight: 700;
}

.location-pick-drop {
  border-radius: 84px;
  background: #a4f4b6;
  padding: 0.25em 0.75em;
}

.search-location-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  border-radius: 12px;
  border: 1px solid var(--Bagel-Rescue-Blue);
  width: 100%;
  gap: 1.5em;
  max-height: 300px;
  overflow-y: auto;
}

.search-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.search-location-name {
  font-weight: bold;
}

.add-location-btn {
  width: 100%;
  border: 1px solid var(--Bagel-Rescue-Blue);
  background: var(--Bagel-Rescue-Light-Blue);
  padding: 1em 0em;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 1em;
  font-weight: bold;
}
