.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .newRouteButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    max-height: 44px;
    
  }
  
  .modal {
    position: relative;
    display: inline-block;
  }

  .searchAndSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filterControls {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--Bagel-Rescue-Dark-Blue);
  }
  
  .sortSelect {
    background-color: var(--background-rgb);
    position: relative;
    border: 1px solid #0F7AFF;
    border-radius: 8px;
    padding: 0 44px 0 16px;
    background: transparent;
    font-size: 16px;
    outline: none;
    color: var(--Bagel-Rescue-Dark-Blue);
    appearance: none;
    background-image: url('/dropdown_arrow.svg');
    background-repeat: no-repeat;
    background-position: 90% center;
    width: auto;
    min-width: 167px;
    height: 44px;
  }
  
  .filterButton {
    background-color: var(--background-rgb);
    border: 1px solid #0F7AFF;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--Bagel-Rescue-Dark-Blue);
  }
  
  .tableContainer {
    margin-top: 20px;
    height: 72vh;
    overflow-y: auto;
  }
  
  .tableHeader {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr 3fr 0.5fr;
    background-color: #C6E3FF;
    border-radius: 8px;
    padding: 16px;
    font-weight: bold;
    color: var(--Bagel-Rescue-Dark-Blue);
    margin-bottom: 10px;
    padding-left: 20px;
  }
  
  .columnHeader {
    padding: 5px 10px;
  }
  
  .routeList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .routeCard {
    background-color: rgb(var(--background-rgb));
    border: 1px solid #C6E3FF;
    border-radius: 16px;
    padding: 10px;
    color: var(--Bagel-Rescue-Dark-Blue);
  }
  
  .routeDetails {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr 3fr 0.5fr;
    gap: 16px;
    align-items: center;
  }
  
  .routeInfo {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .moreOptionsButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 23px;
    transform: scaleX(0.9);
  }
  
  .contextMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: rgb(var(--background-rgb));
    border: 1px solid #0F7AFF;
    border-radius: 12px;
    gap: 6px;
    padding: 15px 15px 9px 15px;
    width: 11em;
    height: 5em;
    right: 0;
    z-index: 10;
  }

  .contextMenu button {
    text-align: left;
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 8px;
  }

  .modalDeleteRoute {
    color: #810000;
  }
  
  .searchInputContainer {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 300px;
    padding: 10px 15px; 
    border: 1px solid #0F7AFF;
    border-radius: 69px;
    overflow: hidden;
    background-color: rgb(var(--background-rgb));
  }
  
  .searchIcon {
    color: #0F7AFF;
    font-size: 20px;
    width: 20px; 
    height: 20px; 
  }
  
  .searchInput {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    flex-grow: 1; 
  }