.container {
    display: flex;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 12px;
    flex: 1;
    overflow: auto;
  }
  
  .sidebar {
    width: 20%;           
    min-width: 0;    
    max-width: 20%;
    padding-right: 2rem;
    border-right: 1px solid #E5E7EB;
  }

  .line {
    padding-bottom: 2rem;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  }
  
  .menuItem {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #64748B;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .menuItem:hover {
    color: #1D4ED8; 
  }
  
  .active {
    font-weight: bold;
    color: #072B68;
  }
  
  .signOut {
    color: #EF4444;
  }
  
  .formContainer {
    flex: 1;
    padding-left: 4rem;
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .name {
    font-size: 1.50rem;
    padding-bottom: 0.25rem;
    font-weight: 800;
    color: #1E3A8A; 
    margin: 0;
  }
  
  .role {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.50rem;
    color: #072B68;
  }

  .changeButton {
    background-color: #016ff3;
    color: white;
    padding: 1rem;
    height: fit-content;
    border-radius: 8px;
  }

  .changeButton:disabled {
    background-color: #D3D8DE;
    cursor: not-allowed;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .field {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .fieldLabel {
    margin-bottom: 0.9rem;
    font-weight: 500;
    font-size: 1rem;
    color: #072B68; 
  }

  .fieldInput {
    font-weight: bold;
    color: #072B68;
    background-color: white;
    font-size: 1rem;
    border: 1px solid #0F7AFF;
    border-radius: 8px;
    width: 40%;
    padding: 1rem;
    margin-bottom: 0.5rem;
    padding-right: 3rem;
  }

  .fieldInput.correct {
    border-color: #22C55E;
  }

  .fieldInput.incorrect {
    border-color: #EF4444;
  }

  .fieldInput:focus {
    outline: none;
  }

  .passwordBox {
    position: relative;
  }

  .eyeButton {
    position: absolute;
    top: 25%;
    transform: translateX(-200%);
  }
  
  .incorrectText {
    color: red;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .disabledInput {
    font-weight: bold;
    color: #072B68;
    background-color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  