.container {
    display: flex;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 12px;
    flex: 1;
    overflow: auto;
  }
  
  .sidebar {
    width: 20%;           
    min-width: 0;    
    max-width: 20%;
    padding-right: 2rem;
    border-right: 1px solid #E5E7EB;
  }

  .line {
    padding-bottom: 2rem;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  }
  
  .menuItem {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #64748B;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .menuItem:hover {
    color: #1D4ED8; 
  }
  
  .active {
    font-weight: bold;
    color: #072B68;
  }
  
  .signOut {
    color: #EF4444;
  }
  
  .formContainer {
    flex: 1;
    padding-left: 4rem;
  }
  
  .name {
    font-size: 1.50rem;
    padding-bottom: 0.25rem;
    font-weight: 800;
    color: #1E3A8A; 
    margin: 0;
  }
  
  .role {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.50rem;
    color: #072B68;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .field {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .fieldLabel {
    margin-bottom: 0.9rem;
    font-weight: 500;
    font-size: 1rem;
    color: #072B68; 
  }
  
  .fieldInput {
    font-weight: bold;
    color: #072B68;
    background-color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .savebutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: #016ff3;
    color: white;
    padding: 1rem;
    height: fit-content;
    border-radius: 8px;
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .checkboxes {
    display: flex;
    gap: 2rem;
    
  }

  .checkbox {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  .checkbox:not(:checked) + .checkboxLabel {
    opacity: 0.5;
  }

  .checkbox:not(:checked) {
    opacity: 0.5;
  }

  .checkboxContainer {
    color: #072B68;
    display: flex;
    align-items: center;
  }

  .locationContainer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    font-size: 1rem;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  .locationBox {
    background-color: rgb(238, 238, 238);
    color: #1E3A8A;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
  }
  