.sidebar {
    position: sticky;
    top: 0;
  
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: width 0.3s ease;
    border-right: 1px solid #D3D8DE;
  }
  
  .open {
    width: 15rem; 
  }
  
  .closed {
    width: 5rem; 
  }
  
  .toggleButton {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  
  .nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
  }
  
  .navIcon {
    font-size: 3rem;
  }

  .navHeaderText {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0F7AFF;
  }

  .navTitleText {  
    font-size: 1rem;
    font-weight: 400;
    color:#808080;

  }

  .navHeader {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .navItem {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: #000;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navItem:hover {
    background-color: var(--Bagel-Rescue-Light-Blue);
  }

 
  
  .active {
    background-color: var(--Bagel-Rescue-Light-Blue);
  }

  .active .icon,
  .active .navText {
    color: var(--Bagel-Rescue-Blue);
  }
  
  .icon {
    font-size: 1.5rem;
    color: var(--Bagel-Rescue-Dark-Blue);
  } 
  
  .navText {
    margin-left: 1rem;
    font-size: .9rem;
    font-weight: 500;
    color: var(--Bagel-Rescue-Dark-Blue);
  }

  .navItem:hover .navText,
  .navItem:hover .icon{
    color: var(--Bagel-Rescue-Blue);
  }

  .navItem:hover svg[data-icon="routes"] path,
  .active svg[data-icon="routes"] path {
    fill: var(--Bagel-Rescue-Blue);
  }

  .profile {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: auto; 
    background-color: #e5e7eb;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    background-color: #0F7AFF;
    border-radius: 8px;
  }
  
  .profileInfo {
    margin-left: 1rem;
  }
  
  .name {
    font-weight: bold;
    margin: 0;
    color: #0F7AFF;
  }
  
  .role {
    margin: 0;
    color: #000;
  }
  
  