.sidebar {
    position: sticky;
    top: 0;
  
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: width 0.3s ease;
    border-right: 1px solid #D3D8DE;
  }
  
  .open {
    width: 15rem; 
  }
  
  .closed {
    width: 5rem; 
  }
  
  .toggleButton {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  
  .nav {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .navIcon {
    width: 5rem;
    height: 5rem;
  }

  .navHeaderText {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0F7AFF;
  }

  .navTitleText {  
    font-size: 1rem;
    font-weight: 400;
    color:#808080;

  }

  .navHeader {
    text-align: left;
    margin-bottom: 2rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navItem {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    color: #000;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navItem:hover {
    background-color: #c3c4c5;
  }
  
  .active {
    background-color: #ECF2F9;
    color: #0F7AFF;
  }
  
  .icon {
    font-size: 1.5rem;
  }
  
  .navText {
    margin-left: 1rem;
    font-size: 0.875rem;
  }


  .profile {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: auto; 
    border-radius: 0.5rem;
    transition: all 0.3s ease;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    background-color: #0F7AFF;
    border-radius: 8px;
    flex-shrink: 0;
  }
  
  .profileInfo {
    margin-left: 1rem;
  }
  
  .name {
    font-weight: bold;
    margin: 0;
    color: #0F7AFF;
  }
  
  .role {
    margin: 0;
    color: #000;
  }
  
  .line {
    padding-bottom: 1rem;
  }
  